* {
	box-sizing: border-box;
}

html,
body {
	color: rgba(33, 37, 41, 1);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 16px;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	background-color: #e6f6ed;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.card {
	background-color: #b3e3c9;
	padding: 2.5rem 1.5rem;
	border-radius: 10px;
	box-shadow: 0 0 10px #00301721;
}
.card h1 {
	margin: 0 0 1.5rem 0;
	text-align: center;
	color: #005126;
}

/* HEADER */
header {
	background-color: rgba(247, 248, 249, 1);
	padding: 1.5rem 0;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-img {
	width: 100%;
}
.links {
	display: flex;
	list-style: none;
	gap: 20px;
	padding-left: 0;
}
.links a {
	color: inherit;
	text-decoration: none;
}
.links a:hover {
	color: #00a14c;
}

/* MAIN CONTENT */
.main {
	margin: 1rem auto;
}
.flex-main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-img-container,
.about-img-container {
	width: 55%;
	height: 100%;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 10px #00301721;
}
.home-img,
.about-img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.home-text-container,
.about-text-container {
	box-shadow: 0 0 10px #00301721;
	background-color: #b3e3c9;
	padding: 1rem;
	color: #005126;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.home-text-container h1,
.about-text-container h1 {
	margin: 0;
}
.home-text-container h3 {
	margin-top: 0.7rem;
	margin-bottom: 0;
}
.home-text-container p {
	margin: 1.2rem 0 1.4rem 0;
}
.cta-btn {
	display: inline-block;
	padding: 0.6rem 1.3rem;
	text-align: center;
	background-color: #005126;
	font-weight: bold;
	color: #e6f6ed;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px #003017;
	transform: translate(-3px, -3px);
	transition: all 0.2s;
}
.cta-btn:hover {
	box-shadow: none;
	transform: none;
}
.about-text-container p {
	margin: 0.6rem 0;
}

/* LOGIN + DAFTAR*/
.login form {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

.daftar form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.login form input,
.daftar form input,
.daftar form select {
	font-family: inherit;
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 10px;
	border: none;
}

.daftar form select {
	grid-column: 1 / -1;
}

.login form button,
.daftar form button {
	display: inline-block;
	padding: 0.6rem 1.3rem;
	text-align: center;
	background-color: #005126;
	font-weight: bold;
	color: #e6f6ed;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px #003017;
	transform: translate(-3px, -3px);
	transition: all 0.2s;
	border: none;
	font-size: 1.2rem;
	grid-column: 1 / -1;
}

.login form button:hover,
.daftar form button:hover {
	box-shadow: none;
	transform: none;
}

/* DATA PESERTA BPJS */
.data-peserta-container {
	color: #005126;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.8rem;
	row-gap: 2.5rem;
	margin-top: 2.3rem;
}
.data-peserta-item {
	text-align: center;
}
.data-peserta-item h4 {
	margin: 0 0 0.8rem 0;
}
.data-peserta-item p {
	margin: 0;
}

/* DAFTAR BERHASIL */
.daftar-berhasil p {
	text-align: center;
	font-size: 1.2rem;
	color: #005126;
}

/* IURAN */
.iuran {
	color: #005126;
	text-align: center;
}
th,
td {
	padding: 0.6rem;
}
th {
	background-color: #e6f6ed;
}
table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 2px solid #33b470;
	overflow: hidden;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(247, 248, 249, 1);
	padding: 1rem 0;
	color: #888;
	width: 100%;
}
